.nav {
	color: var(--header-color);
	padding: 10px;
	display: flex;
	gap:10px;
	font-size: 1rem;
	line-height: 1.5;
	font-weight: 700;
}
.nav a{
	text-decoration: none;
	padding: 5px 15px;
	color: var(--white);
	background-color: #5576e0;
	border-radius: 15px;
}

.nav a:hover{
	background-color: #FFFFFF;
	border-radius: 10px;
	color: var(--gray-500);
}

.form{
	display: flex;
	flex-direction: column;
	margin: auto;
	gap:10px;
	padding: 20px;
	width: 40%;
	min-width: 250px;
	border-radius: 15px;
}
.label-password{
	position: relative;
}

.input{
	height: 30px;
	border-radius: 15px;
	border: none;
	padding: 0 10px;
	outline:  none;
}

.input:focus-visible,
.input:focus{
	outline: 2px solid #0079FF;
}

button{
	cursor: pointer;
	text-transform: capitalize;
}

.toggle_password{
	position: absolute;
	display: flex;
	align-items: center;
	height: auto;
	top: 4px;
	right: 10px;
	font-size: 1.5rem;
	border:none;
	width: max-content;
	background: transparent;
	& > svg{
		height: 20px;
	}
}
.btn-submit{
	width: 50%;
	padding: 5px 15px;
	margin: auto;
	border-radius: 15px;
	background-color: #0079FF;
	color: var(--white);
	border-color: transparent;
	transition: all 0.1s ease-in-out;
}

.btn-submit:hover,
.btn-submit:focus-visible{
	background-color: #1a6ac0;
	color:var(--white)
}

.btn-submit:active{
	box-shadow: #ffffff70 0 0 0 8px;;
}

.error{
	color: red;
	font-weight: 600;
	text-transform: capitalize;
}