:global {
  body[data-theme='light'] {
    --header-color: var(--gray-300);
    --logo-bg: aqua;
    --logo-color:var(--gray-500);
  }

  body[data-theme='dark'] {
    --header-color: var(--white);
    --logo-bg: var(--gray-500);
    --logo-color:var(--gray-50);
  }
}

.header {
  position: relative;
  margin-bottom: 35px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  align-items: center;
  @media (max-width: 480px){
    padding-top: 40px;
    justify-content: start;
  }
}
.logo{
  position: absolute;
  top: -40px;
  left: 0;
  height: 70px;
  display: flex;
  align-items: flex-end;
  padding: 0 10px 10px;
  border-radius: 15px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  background: var(--logo-bg);
  color: var(--logo-color);
}
.exit{
  padding: 5px 15px;
  border-radius: 10px;
  border: none;
  background-color: var(--main-color);
  transition: all 0.1s ease-in-out;
  color:var(--white)
}
.exit:hover,
.exit:focus-visible{
  background-color: #1a6ac0;
  color:var(--white)
}

.exit:active{
  box-shadow: #ffffff70 0 0 0 8px;;
}